* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5% !important;
}
html,
body {
  overflow-x: hidden !important;
}
html,
body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  color: #141e30;
}
.hero {
  margin-bottom: 8rem;
}
.hero-cursive-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30rem;
  text-transform: capitalize;
}
h1 {
  color: #da7294;
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 0.94;
  text-transform: uppercase;
}

.hero-title {
  display: flex;
  align-items: center;
}

.hero-cursive-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30rem;
  text-transform: capitalize;
  margin-right: -3.9rem;
}

.butterfly-icon {
  height: 13rem;
}
.last-name {
  color: #da7294;
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 0.94;
  text-transform: uppercase;
}
.subheading {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.hero-left-grouping {
  margin-left: 1.5rem;
  margin-top: -1.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3.5rem;
}

h2 {
  font-weight: 700;
  font-size: 4rem;
  color: #da7294;
  margin-bottom: 2rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.hero {
  background: #000000;
  /* background-image: url(background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000; */
  /* height: 100%; */
}
.hero-left {
  /* display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative; */
  /* height: 100vh; */
}

.hero-img {
  display: flex;
  /* justify-content: right; */
}

.hr-container {
  position: relative;
  text-align: center;
}

.hr-container hr {
  border: none;
  height: 1rem;
  background-color: #28436e;
  opacity: 1;
  margin: 0;
}

.hr-container img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 8rem;
}

blockquote {
  font-size: 2rem !important;
  font-weight: 700;
  color: #28436e;
  margin: 4rem 0;
}

cite {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 4.6rem;
  color: #da7294;
}

.img-quote {
  width: 19%;
}
.photo-gallery {
  margin: 4rem 0 0 0;
}

.photo-gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo-gallery figcaption {
  font-family: "Inter", sans-serif;
  font-size: 1.0125rem;
  color: #525252;
}
.photo-gallery a {
  text-decoration: none;
  color: #525252;
}

section {
  margin: 7rem 0 0 0;
}

.hero {
  margin: 0;
}

footer p {
  font-size: 1.6rem;
}

/* Extra Large Desktops */
@media screen and (min-width: 1555px) and (max-width: 2951px) {
  .hero-img {
    justify-content: center;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1554px) {
  .hero-img {
    justify-content: end;
  }
}

/* Extra Large Desktops
@media screen and (min-width: 1500px) {
  .hero-img {
    justify-content: right;
  }
} */

/* LG Desktops */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
  .hero-cursive-font {
    font-size: 20rem;
    margin-right: -2.9rem;
  }
  .hero-img {
    justify-content: right;
  }
}

/* Desktops */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .hero-cursive-font {
    font-size: 20rem;
  }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .hero-cursive-font {
    font-size: 15rem;
    margin-right: -2.5rem;
  }

  .butterfly-icon {
    height: 8rem;
  }

  h1 {
    font-size: 4rem;
  }

  .subheading {
    font-size: 2rem;
  }

  .hero-left-grouping {
    margin-left: 1rem;
    gap: 2rem;
  }
}

/* Phones */
@media screen and (max-width: 767.98px) {
  .hero-cursive-font {
    font-size: 15rem;
    margin-right: -1.5rem;
  }
  .hero-img {
    justify-content: right;
  }

  .butterfly-icon {
    height: 8rem;
  }

  h1 {
    font-size: 4rem;
  }

  .subheading {
    font-size: 1.8rem;
  }

  .hero-left-grouping {
    margin: -1rem 0 0 1rem;
    gap: 1.7rem;
  }
}
/* Phones */
@media screen and (max-width: 425px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  section p:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  section p:last-of-type {
    margin-bottom: 0;
  }
  .hero {
    padding-top: 3rem;
    margin-bottom: 6rem;
  }
  .hero-img {
    justify-content: right;
  }

  .hero-cursive-font {
    font-size: 13rem;
    margin-right: -1.5rem;
  }
  .butterfly-icon {
    height: 7rem;
  }
  .subheading {
    font-size: 1.5rem;
  }
  .hero-left-grouping {
    margin: -0.7rem 0 0 1rem;
    gap: 2.7rem;
  }
  /* .hero-img {
    display: flex;
    justify-content: center;
  }
  .hero-img img {
    max-width: 73.6%;
  } */
  .hr-container hr {
    height: 0.8rem;
  }
  .hr-container img {
    width: 7rem;
  }
  figcaption {
    font-size: 4.1rem;
  }
  .blockquote {
    margin-bottom: 0rem;
  }
  section {
    margin: 5rem 0 0 0;
  }
  .photo-gallery figcaption {
    font-family: "Inter", sans-serif;
    font-size: 1.1125rem;
    color: #525252;
  }
  .songs {
    margin: 4rem 0 0 0;
  }
}
