* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5% !important;
}
body {
  overflow-x: hidden !important;
}
html,
body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  color: #141e30;
}
h1 {
  color: #da7294;
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 0.94;
  text-transform: uppercase;

  /* color: #f3f3f3;
  font-size: 2.9rem; */
}
.hero-cursive-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30rem;
  text-transform: capitalize;
}
h1 {
  color: #da7294;
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 0.94;
  text-transform: uppercase;
}

.hero-title {
  display: flex;
  align-items: center;
}

.hero-cursive-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30rem;
  text-transform: capitalize;
  margin-right: -3.9rem;
}

.butterfly-icon {
  height: 13rem;
  /* width: 100%; */
}
.last-name {
  margin-left: 1.5rem;
  margin-bottom: -1rem;
  position: relative;
  top: -1.3rem;
}
.subheading {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 3.3rem;
  margin-left: 1.5rem;
  letter-spacing: 0.2rem;
}
h2 {
  font-weight: 700;
  font-size: 4rem;
  color: #da7294;
  margin-bottom: 2rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.hero {
  background: #000000;
  /* background-image: url(background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000000; */
  height: 100%;
}
.hero-left {
  /* display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative; */
  height: 100vh;
}

.hero-img {
  display: flex;
  align-items: right;
}
.hero-img img {
  max-width: 100%;
}

.hr-container {
  position: relative;
  text-align: center;
}

.hr-container hr {
  border: none;
  height: 1rem;
  background-color: #28436e;
  opacity: 1;
  margin: 0;
}

.hr-container img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 8rem;
}

blockquote {
  font-size: 2rem !important;
  font-weight: 700;
  color: #28436e;
}
figure {
  margin: 4rem 0;
}
figcaption {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 4.6rem;
  color: #da7294;
}

.img-quote {
  width: 19%;
}
.photo-gallery {
  margin: 4rem 0 0 0;
}

.photo-gallery img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo-gallery figcaption {
  font-family: "Inter", sans-serif;
  font-size: 1.0125rem;
  color: #525252;
}
.photo-gallery a {
  text-decoration: none;
  color: #525252;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 400px) {
  .hero-left {
    height: 50vh;
  }
  .hero-cursive-font {
    font-size: 9rem;
    margin-right: -1.9rem;
  }
  .last-name {
    margin-left: 0.2rem;
    margin-bottom: -1rem;
    position: relative;
    top: -2.3rem;
    font-size: 3.5rem;
  }
  .subheading {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: 3.3rem;
    margin-left: 1.5rem;
    letter-spacing: 0.2rem;
  }
  .hero-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .butterfly-icon {
    height: 7.2rem;
    /* width: 100%; */
  }
}

/* .container {
  padding: 0;
} */

section {
  margin: 6.2rem 0 0 0;
}

section:first-of-type {
  margin: 0;
}
